#img-bg{
    background-image: url(https://i.imgur.com/zqJ1l1s.jpg?1);

    min-height: 695px;
    background-image: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 15px;
    
    }