<div class="container-fluid">


    <div class="row d-flex mr-4 justify-content-center align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-6">
                    <h4 class="text-center">As referências que precisamos!</h4> <br>
                    <h6 class="text-center"> Aqui deixarei uma lista de pessoas, livros, filmes que podem servir
                        de inspiração:
                    </h6> <br>
                    <ol class="text-end">
                        <li class="text-start">
                            A imagem ao lado já indica o quanto esse filme serve de inspiração! Pantera Negra, com certeza, é um dos melhores filmes que representam a nossa cultura (talvez futuristica, mas sempre respeitando os nossos ancestrais.)
                        </li> <br>
                        <li class="text-start">
                            Estrelas Além do Tempo. Um filme que fala sobre três pretas que trabalharam na Nasa em uma época onde o racismo estrutural predominava.
                        </li>
                    </ol>

                </div>
            </div>

        </div>

        <div class="col-md-6" id="img-bg">

        </div>


    </div>
</div>