<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto d-flex align-items-center">

            <a href="#" class="nav-item pl-3">
                <li >
                    <p class="m-0 font-weight-bold text-white fs-16 mr-2">Excelência Preta!</p>
                </li>
            </a>

            <li class="nav-item">
                <a class="nav-link" routerLink="/combater">Como combater o Racismo?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/referencias">Referências a seguir!</a>
            </li>
        </ul>

        <div class="social-part">
            <a href="https://pt-br.facebook.com/almapretajornalismo/" target="_blank"><i class="fa fa-facebook" id="fface"
                    aria-hidden="true"></i></a>
            <a href="https://twitter.com/LeviKaique" target="_blank"><i class="fa fa-twitter" id="ttwitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/pretitudes/" target="_blank"><i class="fa fa-instagram" id="iinsta"
                    aria-hidden="true"></i></a>
        </div>


    </div>


</nav>