<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <h4 class="text-center" id="h1mar">"Não basta não ser racista. É preciso ser antiracista!"</h4> <br>
                    <h6 class="text-justify"> Como podemos entrar na luta contra o racismo?</h6> <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet dicta aut saepe animi velit quidem, eius tempore quas doloribus ipsam explicabo placeat labore sequi debitis aspernatur, ratione alias repellendus magni? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet et veritatis corrupti nobis consectetur minus accusamus, amet, nostrum saepe fugit itaque rem. Dolore, maxime nobis quidem id aliquam possimus architecto! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum nostrum in ducimus maiores, a est ullam quo recusandae, aperiam, facilis cum. Amet, praesentium quod nostrum illo eius ratione rerum vero.</p>

                </div>
            </div>

        </div>

        <div class="col-md-6" id="img-bg">

        </div>


    </div>
</div>